# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Voice Horror.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Program Files\Unity\Unity Projects\Voice Horror\.idea\.idea.Voice Horror\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
